body {
  background-color:#34495e;
}

.title {
  width:0 auto;
  min-width: 575px;
  max-width: 575px;
  height: 0 auto;
  min-height: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #fff;
}

.App {
  text-align: center;
  /* border: 3px solid #7fff00; */
}
/* 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  width: 575px;
  height: 575px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.casa {
  background-color: white;
  border: 1px solid black;
  width: 70px;
  height: 70px;
  color: rgb(95, 95, 95);
  display: block;
  float: left;
  line-height: 70px;
  font-size: 40px;
}

img {
  max-width: 35px;
  max-height: 35px;
  width: auto;
  height: auto;

  cursor: pointer;
}

.button {
  width:0 auto;
  min-width: 575px;
  height: 0 auto;
  min-height: 0 auto;
  background-color: #7fff00;
  padding: 15px 50px;
  border-radius: 30px;
  font-size: 20px;
  color: #444;
  font-weight: 800;
  cursor: pointer;
  border: none;
  margin-top:50px;
}

